

.App{
  background-color: #121212;
  min-height: 100vh;
  padding-bottom: 100px;
}

::-webkit-scrollbar {
  
  width: 4px;               /* width of vertical scrollbar */
  border: 1px solid #7a7575;
}

::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background: #FFD700;
}